/* header */

header {
    width: 100vw;
    height: 20%;
    background-color: #2E3A46;
    color: white;
}

.spotify-logo img {
    height: 30px;
    padding: 0 1.5rem;
    margin-top: 10px;

}


.song-card {
    width: calc(100% / 6);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    background-color: #2E3A46;
    text-align: center;
    margin-bottom: 1rem;

}

/* main */
main {
    background-color: #1E2D3B;
    ;
    height: 100%;
    width: 100vw;
}

.main-wrapper {
    padding: 50px 0;
    margin: 0 auto;
    width: 70%;
}

.c-white {
    color: white;
}

.col {
    display: flex;
}

/* song card */

.song-img {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: black;
}

img {
    width: 100%;
}

h3 {
    width: 100%;
    font-size: 18px;
    padding: 0.5rem 0;
    margin-bottom: 0;
    color: white;
    text-transform: uppercase;
    margin-top: 10px;
}

h4 {
    width: 100%;
    font-size: 1.2rem;
    color: darkgray;
    margin-top: 20px;
}

h5 {
    width: 100%;
    font-size: 1rem;
    color: darkgray;
}